<!--header will be the same on all pages-->
<header id="header">
    <div class="headerLefthandInfo">
        <!--image that appears in upper lefthand corner-->
        <img src="assets/images/kaitlinCartoonOrange.png" id="headerCartoon">
        <!--name and basic info-->
        <ul class="headerName">
            <li>
                <h1 id="h1Name"> Kaitlin Saunders </h1>
            </li>
            <li>
                <h3 id="h3Desc"> UI/Front-End </h3>
            </li>
    </div>

    <!--nav links to appear on righthand side of header-->
    <div class="headerNavLinks">
        <ul>
            <li><a href="https://drive.google.com/file/d/0BzdKXb59uZdRZkplU203bDJtYkE/view?usp=sharing" target="_blank">
      résumé
  </a></li>
            <li><a href="views/work.html">
    work
  </a></li>
            <li><a href="contact.html" id="headerContactBtn">
    contact
  </a></li>
            <li><a href="tel:919-797-9315">
    (919) 797-9315
  </a></li>
        </ul>

    </div>
    <div style="clear:both;">

    </div>
</header>

<main>
    <div id="homePageWrapper">
        <div class="aboutMe">I've had a lifelong passion for design and am dedicated to breathing life into products and pages with the power of beautiful UI and the magic of code. I have experience with technologies like the Adobe Suite, jQuery, the AngularJS framework,
            and Sass, and would love to work with you.
            <br>
            <a href="contact.html" class="aboutMeLink">Let's talk.</a>
        </div>

        <div id="homePageProjects">
            <span class="leftImageContainer">
                <img src="assets/images/peopleExchanging.jpg" id="peopleExchanging">
            </span>
            <span class="rightImageContainer">
                <ul class="homePageProjects--list">
                    <li>
                        <img src="assets/images/manSeatedWorking.jpg" class="homePageProjects--img">
                    </li>
                    <li>
                        <img src="assets/images/cactusDesktop.jpg" class="homePageProjects--img">
                    </li>
            </span>
        </div>
    </div>
</main>
<!--contact info once again-->
<!-- <footer>
    <ul class="footerInfo">
        <li>
            Kaitlin Saunders
        </li>
        <li>
            <a href="tel:919-797-9315">
    (919) 797-9315
  </a>
        </li>
        <li class="footerInfoLinks">
            <a href="mailto:kaitlinhsaunders@gmail.com">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/khsaunders" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/kaitlin-saunders" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer> -->
