
//color variables//
$white: white;
$tangerine: #E2492F;
$black: #141414;

//font variables//
$mainFont: Nunito, sans-serif;
$secondFont: Montserrat, sans-serif;

body{
  font-family: $mainFont;
  font-color: $black;
  a{
    text-decoration: none;
    color: $black;
    :visited{
      color: $black;
    }
  }
}

@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/projectPages.scss";
@import "partials/homePage.scss";
